@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "PerfilAdmin";
}


<h1>@("Hola " + User.Identity.GetUserName() + "!")</h1>

<p> ¿Que quieres hacer?:</p>

<ul class="">
    <li>@Html.ActionLink("Gestion de Pedidos", "GestionPedidos", "Admin")</li>
    <li>@Html.ActionLink("Gestios de Productos", "GestionProductos", "Admin")</li>

    <li>@Html.ActionLink("Gestion de Usuarios", "GestionUsuarios", "Admin")</li>
    <li>@Html.ActionLink("Añadir nuevo producto", "NuevoProducto", "Admin")</li>

</ul>
